.env
package-lock.json
node_modules

# docker volumes
mongodb-data
public/upload/*.jpg
public/upload/*png
public/upload/*mp3
public/upload/audio/*
public/upload/cover/*
/dapptube-9a0414dd7821.json
!public/upload/audio/.keep
!public/upload/cover/.keep